<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean id="person" class="com.basicsofspring.Person"></bean>
	<bean id="employee" class="com.basicsofspring.Employee">
		<property name="id" value="10"></property>
		<property name="name" value="Rohit"></property>
		<property name="salary" value="45000"></property>
	</bean>


</beans>